<form action='/articles/{{title}}?_method=PUT' method='post'>
  URL: {{urlTitle}}<br>
  Title: <input name='title' value='{{title}}'><br>
  Author: <input name='author' value='{{author}}'><br>
  Body: <input name='body' value='{{body}}'><br>
  <input type='submit' value='Submit'>
</form>