<form action='/products/{{id}}?_method=PUT' method='post'>
  ID: {{id}}<br>
  Name: <input name='name' value={{name}}><br>
  Price: <input name='price' value={{price}}><br>
  Inventory: <input name='inventory' value={{inventory}}><br>
  <input type='hidden' name='id' value={{id}}>
  <input type='submit' value='Submit'>
</form>